.Login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: flex-start;
}